extend layout.pug

block main
    h1 Om sidan
    div.image <img src="/images/javascript-logo.png">.
    p Detta är min sida för kursen Ramverk2 två där vi kommer att jobba med ramverk i Javasript.
    p Vi kommer bl.a. att jobba med Express och Docker.
    p Koden för sidan går att finna på
        a(href='https://github.com/klingzell92/ramverk2')  Github
