extend layout.pug

block main
    div.main
        h1 App
        p.
            Här kommer det att finnas information om min app som kommer att bli mitt projekt i Ramverk 2 kursen.
            I nulägget så vet jag inte riktigt vad det kommer att bli, men har funderat på att göra någon typ utav Yatzy med en chattfunktion.
            Appen kommer att innehålla en chattfunktion som kommer att byggas med websockets. Den kommer även att ha en MongoDB databas, för information om spelarna.
            Appen kommer även att använda sig av min modul mondodb-crud-phkl16 som är publiserad på npm. Som man kan förstå av namnet så kan man använda den till att förutom att ansluta sig till MongoDB även utföra enklare CRUD funktioner. 
