extend layout.pug

block main
    div.main
        h1 App
        p.
            Appen som jag har gjort i mitt projekt är ett luffarschack online. Appen är skapad med tekniker som jag har använt under kursens gång.
            Som backend har jag alltså Express och sedan för vyerna så kör jag pug. NoSQL databasen som jag använder mig av är mongodb.
            I appen så sparar jag vinsterna i en highscore som sorteras på antal drag samt tiden för spelet. För att ansluta och utföra crud kommandon så använder jag min modul mondodb-crud-phkl16 som finns på npm.
            Jag använder mig utav websockets för att uppdatera brädet vartefter spelarna gör sina drag. Och jag använder mig utav webbsockets modulen ws.
