extend layout.pug

block main
    div.main
        h1 Movie db

        form(method='POST' action='/create')
            div(class="form-group")
                input(class="form-control" name="title" type="text" placeholder="Ange titel")

            div(class="form-group")
                input(class="form-control" name="director" type="text" placeholder="Ange regissör")

            div(class="form-group")
                input(class="form-control" name="release" type="text" placeholder="Ange årtal")

            div(class="form-group")
                input(class="btn btn-primary" type="submit" value="Spara filmen")

        table(class="table table-striped table-hover table-bordered")
            thead(class="thead-inverse")
                tr
                    th Title
                    th Director
                    th Year
                    th Edit
                    th Delete
            tbody
                for movie in movies
                    tr
                        td= movie.director
                        td= movie.title
                        td= movie.release
                        td
                            a(href="/edit/" + movie._id) Edit
                        td
                            a(href="/remove/" + movie._id) Delete    
