extend layout.pug

block main
    div.main
        h1 Om mig
        div.image <img id="image" src="/images/philip.jpg">
        p Jag heter Philip Klingzell och bor i Nyköping. Just nu så studerar jag Webbprogrammering på BTH på distans. Innan jag påbörjade det här programmet så har jag läst diverse distanskurser som Javascript och Webbutveckling med PHP. Under Gymnasietiden så gick jag tekniklinjen med datainriktning, så mitt mål har alltid vara att jobba med någonting inom it. Förutom att läsa det här programmet så jobbar jag även extra på posten några dagar varje vecka.

        p  Fritiden ägnar jag åt att hålla på med olika hobbys. Under sommarhalvåret så spelar jag golf så ofta jag kan och håller en hyfsad standard.

        p Förövrigt ägnar jag mig mycket åt att spela gitarr som jag har började med för 2 år sen. Jag spelar låtar som jag själv uppskattar och lyssnar på, så det blir t.ex. mycket Beatles och Pink Floyd.
        p Dessutom så har jag ett stort intresse för film och serier. Just nu tycker jag mycket om Wes Andersons filmer som är väldigt roliga och de har en liten egen stil som jag tycker om. Och på seriefronten finns det inget som är bättre än Seinfeld.
