doctype html
html
    head
        meta(charset="utf-8")
        title= title
        block style
            link(rel="stylesheet", href="/css/style.css")
            link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/slate/bootstrap.min.css")
            script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
            script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
    body
        block navbar
            div(class="site-navbar")
            nav(class="navbar navbar-default")
                div(class="container-fluid")
                div(class="navbar-header")
                  a(class="navbar-brand", href="/") Philip
                ul(class="nav navbar-nav")
                    li(class="active")
                        a(href="/") Home
                    li
                        a(href="/about") Om
                    li
                        a(href="report") Report
                    li
                        a(href="app") App


        block main
            main(class="main")
        block footer
            footer(class="site-footer")
                div(class="footer-content")
                    p Copyright © 2017 phkl16
