

.output {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 300px;
    word-wrap: break-word;
    background-color: #32383e;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.6);
    border-radius: 0.25rem;
    overflow-y: scroll;
    font-size: smaller;
}

#connect_url {
    display: none;
}

#messageContainer {
    display: none;
}

#protocol {
    display: none;
}
